.[Ll]ocalHistory/
.vs/
.idea/
*.user
*.userprefs
*.unityproj
*.suo
*.tmp
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.VC.VC.opendb
*.csproj
*.sln

# Unity generated
[Ll]ibrary/
[Ll]ibrary.meta
**/[Ll]ibrary/
[Tt]emp/
**/[Tt]emp/
[Oo]bj/
**/[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
**/[Ll]ogs/
[Uu]serSettings/
**/[Uu]serSettings/
[Mm]emoryCaptures/
**/[Mm]emoryCaptures/
[Rr]ecordings/
**/[Rr]ecordings/

# Gradle and Android
.gradle/
**/.gradle/
**/build/

# Crash reports
sysinfo.txt

# OS files
.DS_Store
Thumbs.db
Desktop.ini
